<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/auth/login" th:class="${isLogin} ? 'login' : 'not_login'">Login</a>
<br>
<a href="/channel" th:class="${isLogin} ? 'login' : 'not_login'">channel</a>
<br>
<a href="/channel/updateChannel" th:class="${isLogin} ? 'login' : 'not_login'">update channel</a>
<br>
<a href="/video/uploadVideo" th:class="${isLogin} ? 'login' : 'not_login'">video</a>
<br>
<a href="/comment/createComment" th:class="${isLogin} ? 'login' : 'not_login'">comment</a>
<br>
<form action="/auth/logout" method="POST">
    <button class="button" type="submit">Logout</button>
</form>

<table>
    <tr>
        <td>
            <form action="/deleteUser" method="POST">
                <button class="button" type="submit">DeleteUser</button>
            </form>
        </td>
        <td>
            <form action="/deleteChannel" method="POST">
                <button class="button" type="submit">deleteChannel</button>
            </form>
        </td>
        <td>
            <form action="/deleteComment" method="POST">
                <button class="button" type="submit">deleteComment</button>
            </form>
        </td>
        <td>
            <form action="/deleteVideo" method="POST">
                <button class="button" type="submit">deleteVideo</button>
            </form>
        </td>

    </tr>
</table>
</body>
</html>