<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="register-form">
    <form action="sendler">
        <h2>Регистрация</h2>

        <label class="fw-placeholder">
            <input type="text" name="login">
            <span class="placeholder">Login</span>
        </label>

        <label class="fw-placeholder">
            <input type="text" name="email">
            <span class="placeholder">Email</span>
        </label>

        <label class="fw-placeholder">
            <input type="text" name="firstName">
            <span class="placeholder">firstName</span>
        </label>

        <label class="fw-placeholder">
            <input type="text" name="lastName">
            <span class="placeholder">lastName</span>
        </label>

        <label class="fw-placeholder">
            <input type="text" name="phoneNumber">
            <span class="placeholder">phoneNumber</span>
        </label>


        <label class="fw-placeholder">
            <input type="password" name="password">
            <span class="placeholder">Пароль</span>
        </label>

        <button class="register-send">Регистрация</button>
    </form>
</div>
<script>
    $(function(){
        $('.register-form .register-send').click(function(e){
            e.preventDefault();

            let data = JSON.stringify({
                email: $('input[name=email]').val(),
                login: $('input[name=login]').val(),
                password: $('input[name=password]').val(),
                firstName: $('input[name=firstName]').val(),
                lastName: $('input[name=lastName]').val(),
                phoneNumber: $('input[name=phoneNumber]').val(),
            });

            $.ajax({
                type: 'POST',
                url: '/add_user',
                dataType: 'json',
                contentType: 'application/json',
                data: data,
                success: function() {
                    $('.register-form').addClass('success');
                },
                error: function(XHR, textStatus) {
                    console.log(XHR, textStatus);
                    $('.register-form').addClass('error');
                }
            });
        });

        $('.come-to-register-form').click(function (){
            $('body .float-box').removeClass('login').addClass('register');
        });

    });
</script>

</body>
</html>